<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>Albums</title>

    <%- include("partials/header.ejs") %>
</head>
<body>
     
    <h1>Search Info on a Song </h1>    

    <div>
        <div class="search-container">
            <input type="text" id="search" placeholder="Search" autocomplete="off">
            <div class="search-icon">

            </div>
            <div class="suggestions-wrap">
                <ul class="suggestions"> 
                         
                </ul>
            </div>
        </div>
    </div>

    <div class ="belowSearch">

    </div>

    


    <script src="app.js"></script>


    <%- include("partials/footer.ejs") %>
</body>
    
</html>