<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>Home</title>

    <%- include("partials/header.ejs") %>
</head>
<body>
    <h1>this website was made in honor of my goat</h1>
    <h1>click on the "popular" link to view drake's top 10 songs based on popularity</h1>    
    <h1>click on the "all songs" link to view information on any of Drake's Song</h1>
    <h1>click on the "portfolio" link to view other projects</h1>
    <h1>this website is based off spotify's public api</h1>
    





    <%- include("partials/footer.ejs") %>
</body>
    
</html>